<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DIGITAL NATURALIST</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
    <script src="static/javascript/main.js"></script>

</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Digital Naturalist</h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('home')}}">Log Out</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

<div>
    <br>
<h1 style="text-align: center;">Prediction Page</h1>
</div>
  <h3>Select your input</h3>

<br><br><br><br>
<div class ="img_upload col-lg-12" align="left">
    <form method="post" action="{{url_for('show')}}" enctype="multipart/form-data">

          <br>
          <h2>Click here to upload your image</h2>
        <br>
          <div class="uploadOuter">
          <label for="uploadFile" class="btn " style="background: #fff;">Upload Image</label>
          <strong>OR</strong>
        <span class="dragBox" >
          Drag and Drop image here
        <input type="file" onChange="dragNdrop(event)"  name="image" ondragover="drag()" ondrop="drop()" id="uploadFile"  />
        </span>
           <br>   <div id="preview"><br></div>
             <br><br><input type="submit" class="predict btn btn-primary" value="Predict">
        </div>

        <br>
         <!-- <form action="/" style="align: center;">
            <input type="file" id="myFile" /><br><br>
            <input type="Submit" value="Submit" />

          </form> -->


    </form>
       </div>

{% if flag %}
<img src="{{value}}">
<h1 style="text-align:center; color:black;">The prediction for the given image is: {{pred}}</h1><br>
{% endif %}
</body>
</html>